body {
    background: #888;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

.container {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 86vw;
    height: 100vh;
    border-radius: 6px;
}

.main-heading {
    margin: 2px auto 3px auto;
}

.note-form {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw; */
    display: none;
    /* position: fixed; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    max-width: 300px;
    padding: 10px;
    background-color: white;

}

#addNoteBtn {
    margin-top: 12px;
    width: 80vw;
    background: rgb(204, 36, 36);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 6px 8px;
    border: 2px solid rgb(247, 110, 110);
    border-radius: 6px;
    text-align: center;
    justify-content: center;
    /* position: fixed;
    bottom: 23px;
    right: 28px; */
}

#noteAddFinalBtn {
    margin-top: 4px;
    width: 80vw;
    background: rgb(204, 36, 36);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 6px 8px;
    border: 2px solid rgb(247, 110, 110);
    border-radius: 6px;
}

#addNoteBtn:hover,
#noteAddFinalBtn:hover {
    background: rgb(173, 16, 16);
    box-shadow: 2px 2px 2px 2px 2px rgb(89, 2, 2) inset;
    color: white;
    font-size: 1.4rem;
}

#noteAddFinalBtn {
    width: 75vw !important;
}

#note {
    background: rgb(216, 166, 166);
    margin-bottom: 5px;
    border: 2px solid rgb(176, 130, 130);
    border-radius: 5px;
    padding: 8px 6px;
    color: rgb(199, 29, 29);
    caret-color: rgb(199, 29, 29);
    font-size: 1.1rem;
    width: 70vw;
}

#note:focus {
    outline-color: rgb(199, 29, 29);
}

#note::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
}

#list {
    width: 90%;
}

@media screen and (min-width: 250px) {
    #addNoteBtn {
        width: 70vw;
    }

    #note {
        width: 64vw;
    }

    #noteAddFinalBtn {
        width: 70vw !important;
    }
}

@media screen and (min-width: 350px) {
    #addNoteBtn {
        width: 60vw;
    }

    #note {
        width: 54vw;
    }

    #noteAddFinalBtn {
        width: 60vw !important;
    }
}

@media screen and (min-width: 430px) {
    #addNoteBtn {
        width: 50vw;
        font-size: 1rem;
    }

    #note {
        width: 44vw;
        font-size: 0.9rem;
    }

    #noteAddFinalBtn {
        width: 50vw !important;
        font-size: 1rem;
    }

    #addNoteBtn:hover,
    #noteAddFinalBtn:hover {
        font-size: 1.1rem;
    }

}

@media screen and (min-width: 500px) {
    #addNoteBtn {
        width: 40vw;
        font-size: 1rem;
    }

    #note {
        width: 34vw;
        font-size: 0.9rem;
    }

    #noteAddFinalBtn {
        width: 40vw !important;
    }
}

@media screen and (min-width: 768px) {
    #addNoteBtn {
        width: 30vw;
    }

    #note {
        width: 24vw;
    }

    #noteAddFinalBtn {
        width: 30vw !important;
    }
}